.btn {
  display: inline-box;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px 30px;
  color: black;
  border: 3px solid rgb(128, 128, 128);
  transition: all 300ms ease;
  box-shadow: 0px 4px 20px 4px rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  transition: all 300ms ease;
}

.good:hover {
  font-weight: bold;
  box-shadow: none;
  background-color: #90ee90;
  border: 3px solid #4ee44e;
}

.neutral:hover {
  font-weight: bold;
  box-shadow: none;
  background-color: #ffff4d;
  border: 3px solid #e6e600;
}

.bad:hover {
  font-weight: bold;
  box-shadow: none;
  background-color: #ff4d4d;
  border: 3px solid #ff3434;
}
